{% extends 'base.html' %}

{% block title %}Boards{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Boards</li>
{% endblock %}

{% block boards_content %}
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Board</th>
            <th>Posts</th>
            <th>Topics</th>
            <th>Last Post</th>
          </tr>
        </thead>
        <tbody>
          {% for board in boards %}
            <tr>
              <td>
                  <a href="{% url 'boards:board_topics' board.pk %}">{{ board.name }}</a>
                <small class="text-muted d-block">{{ board.description }}</small>
              </td>
              <td class="align-middle">0</td>
              <td class="align-middle">0</td>
              <td></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}

{#{% if boards %}#}
{##}
{#    {% for board in boards %}#}
{#        <a href="{% url 'boards:detail' board.id %}">{{ board.name }}</a>#}
{#        </br>#}
{#        <small style="color: #888">{{ board.description }}</small>#}
{#        </br>#}
{##}
{#        </br>#}
{#    {% endfor %}#}
{#{% else %}#}
{#    <p>There's no board !!!</p>#}
{#{% endif %}#}
