
{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% load humanize %}

{#{% block top %}#}
{##}
{#    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">#}
{#    <div class="container">#}
{#      <a class="navbar-brand" href="{% url 'index' %}">VKing34</a>#}
{#      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">#}
{#        <span class="navbar-toggler-icon"></span>#}
{#      </button>#}
{#      <div class="collapse navbar-collapse" id="mainMenu">#}
{#        <ul class="navbar-nav ml-auto">#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="#">{{ user.username }}</a>#}
{#          </li>#}
{#        </ul>#}
{#      </div>#}
{#    </div>#}
{#    </nav>#}
{##}
{#{% endblock top %}#}

{% block pre %}

<h1>
Welcome to my website !
</h1>
<p>This is website created by VKing34</p>
</br>
<a href="{% url 'polls:index' %}">Click here</a><a> to get some polls.</a>
</br>
</br>
<a href="{% url 'fuloader:fileUploader' %}">Upload Files</a>
</br>
</br>
<a href="{% url 'pagination:list' %}">Paginatio</a>
</br>
</br>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Boards</li>
{% endblock %}


{% block content %}
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Board</th>
            <th>Posts</th>
            <th>Topics</th>
            <th>Last Post</th>
          </tr>
        </thead>
        <tbody>
          {% for board in boards %}
            <tr>
              <td>
                <a href="{% url 'boards:board_topics' board.pk %}">{{ board.name }}</a>
                <small class="text-muted d-block">{{ board.description }}</small>
              </td>
              <td class="align-middle">{{ board.get_posts_count }}</td>
              <td class="align-middle">{{ board.topics.count }}</td>
              <td class="align-middle">
                  {% with post=board.get_last_post %}
                      {% if post %}
                        <small>
                        <a href="{% url 'boards:topic_posts' board.pk post.topic.pk %}">
                            {{ post.created_at|naturaltime }} by {{ post.created_by.username }}
                        </a>
                        </small>
                      {% else %}
                        <small class="text-muted">
                        <em>No post yet.</em>
                        </small>
                      {% endif %}
                  {% endwith %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}
